.center-div
{
  height: auto;
  border-radius: 3px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 2.5%;
}

.list-group-item{
    border: 0px;
    color: #6b7897;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(24, 12, 12, 0.2);
    transition: 0.3s;
}
.title{
    color: #6b7897;
    font-size: 25px;
}
.img.Party{
    content: url("../../../assets/Party.png")
}
.img.Announcement{
    content: url("../../../assets/Announcement.png")
}
.img.Sport{
    content:url("../../../assets/Sport.png")
}
.img.Attachment{
    content: url("../../../assets/Attachment.png")
}


